<!DOCTYPE html>
<html lang = "en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv ="X-UA-Compatible" content ="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Crop Recommendation Online </title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css')}}">
</head>
<body>
    <h1>Crop Prediction</h1>
    
    <form  method="POST" action="/predict">
        <label for="N">Nitrogen(N)    :</label>
        <input type="number" id="N" name="N" min="0" max="140" required><br>

        <label for="P">Phosphorous(P) :</label>
        <input type="number" id="P" name="P" min="5" max="145" required><br>

        <label for="K">Potassium(K)   :</label>
        <input type="number" id="K" name="K" min="5" max="205" required><br>
                                 
        <label for="temperature">Temperature    :</label>
        <input type="number" id="temperature" name="temperature" min="8" max="43" required><br>
                              
        <label for="humidity">Humidity       :</label>
        <input type="number" id="humidity" name="humidity" min="14" max="99" required><br>

        <label for="ph">pH:</label>
        <input type="number" id="ph" name="ph" min="3" max="9" required><br>

        <label for="rainfall">Rainfall:</label>
        <input type="number" id="rainfall" name="rainfall" min="20" max="298" required><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>
